apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
apiVersion: v1
kind: Secret
metadata:
  name: zabbix-db-secret
  namespace: monitoring
type: Opaque
stringData:
  POSTGRES_USER: zabbix
  POSTGRES_PASSWORD: zabbix_pwd
  POSTGRES_DB: zabbix
